__pycache__
media/

*.ckpt
*.safetensors
*.pth
/model_webui/ESRGAN/*
/model_webui/SwinIR/*
/model_webui/repositories
/model_webui/venv
/model_webui/tmp
/model_webui/model.ckpt
/model_webui/models/**/*
/model_webui/GFPGANv1.3.pth
/model_webui/gfpgan/weights/*.pth
/model_webui/ui-config.json
/model_webui/outputs
/model_webui/config.json
/model_webui/log
/model_webui/webui.settings.bat
/model_webui/embeddings
/model_webui/styles.csv
/model_webui/params.txt
/model_webui/styles.csv.bak
/model_webui/webui-user.bat
/model_webui/webui-user.sh
/model_webui/interrogate
/model_webui/user.css
/model_webui/.idea
/model_webui/notification.mp3
/model_webui/SwinIR
/model_webui/textual_inversion
/model_webui.vscode
/model_webui/extensions
/model_webui/test/stdout.txt
/model_webui/test/stderr.txt
/model_webui/cache.json*
/model_webui/config_states/
/model_webui/node_modules
/model_webui/package-lock.json
/model_webui/.coverage*
/model_webui/test/test_outputs
/model_webui/cache
