/* styles.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

/* Navigation bar styles */
.navbar {
    background-color: #333;
    padding: 15px 0;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
}

.navbar a:hover {
    background-color: #555;
}

/* Main content styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Heading styles */
h1, h2, h3 {
    margin-bottom: 20px;
    color: #ec3333;
}

/* Button styles */
.button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #0056b3;
}

/* Background container styles */
.background-container {
    background-image: url('../img/background-image.png'); /* Path to your background image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 100vh; /* Set the height to the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Text box styles */
.text-box {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    color: #fff; /* White text color */
    padding: 20px; /* Add padding to space out the text */
    text-align: center; /* Center align the text */
    position: absolute; /* Position the text box */
    top: 50%; /* Move the text box to the middle vertically */
    left: 50%; /* Move the text box to the middle horizontally */
    transform: translate(-50%, -50%); /* Center the text box */
    border-radius: 10px; /* Add rounded edges */
}

.pagination {
    margin: 20px 0;
}
.step-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.step-links a, .step-links span {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
}
.step-links a {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}
.step-links span.current {
    font-weight: bold;
}