<!-- base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Favicon einbinden -->
    <link rel="icon" href="{% static 'img/sound-wave.png' %}" type="image/png">
</head>
<body>
    <div class="navbar">
        <a class="active" href="{% url 'home' %}">Home</a>
        <a href="{% url 'lyrics_analysis' %}">Lyrics Analyse</a>
        <a href="{% url 'lyrics2image' %}">Lyrics zu Bild</a>
        <a href="{% url 'image2lyrics' %}">Bild zu Lyrics</a>
        <a href="{% url 'archive' %}">Archive</a>
    </div>

    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
