{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Audiosity{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Optional custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/sound-wave.png' %}" type="image/png">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-gradient">
        <a class="navbar-brand" href="{% url 'home' %}">Audiosity</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-white fw-bold" href="{% url 'lyrics_analysis' %}">Lyrics Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fw-bold" href="{% url 'lyrics2image' %}">Lyrics to Image</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fw-bold" href="{% url 'image2lyrics' %}">Image to Lyrics</a>
                </li>
                <li class="nav-item text-white fw-bold">
                    <a class="nav-link text-white fw-bold" href="{% url 'archive' %}">Archive</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    {% block main-content %}
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>
    {% endblock %}

    <!-- Footer (Optional) -->
    <footer class="bg-light py-3 mt-4">
        <div class="container text-center">
            <p class="mb-0">&copy; 2024 Audiosity App. All rights reserved.</p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
