<!-- lyrics_analysis.html -->
{% extends 'base.html' %}

{% block title %}Lyrics Analysis{% endblock %}

{% block content %}
<h1>Lyrics Analysis</h1>
<form method="GET" action="{% url 'lyrics_analysis' %}">
    <input type="text" name="query" placeholder="Find similar lyrics to your text..." value="{{ request.GET.query }}" required>
    <button type="submit">Search</button>
</form>
<p></p>
<div>
    {% if results %}
        <h2>Search Results:</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Song | Artist</th>
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                    <tr>
                        <td>{{ result.source.0 }} | {{ result.source.1 }}</td>
                        <td>{{ result.content }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No results found.</p>
    {% endif %}
</div>

{% endblock %}