<!-- lyrics_analysis.html -->
{% extends 'base.html' %}

{% block title %}Lyrics Analysis{% endblock %}

{% block content %}
<h1>Lyrics Analysis</h1>
<form method="GET" action="{% url 'lyrics_analysis' %}" onsubmit="showSpinner()">
    <input type="text" name="query" placeholder="Find similar lyrics to your text..." value="{{ request.GET.query }}" required>
    <button type="submit">Search</button>
    <div id="spinner" class="spinner-border text-primary" role="status" style="display: none;">
        <span class="sr-only">Loading...</span>
    </div>
</form>
<p></p>
<div>
    {% if results %}
        <h2>Search Results:</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Song | Artist</th>
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ result.source.0 }} | {{ result.source.1 }}</td>
                    <td>
                        {% for line in result.content %}
                            {% with line_index=forloop.counter0 %}
                                <p {% if line_index|add:"-1" in result.matches %}class="highlighted-lyric"{% endif %}> {{ line }}</p>
                            {% endwith %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No results found.</p>
    {% endif %}
</div>

{% endblock %}

<style>
    .highlighted-lyric {
        background-color: yellow; /* Or a more subtle highlight color */
    }
</style>

{% block extra_js %}
<script>
    function showSpinner() {
        document.getElementById('spinner').style.display = 'inline-block';
    }
</script>
{% endblock %}
